---
import { Button } from "@/components/ui/button";
import DefaultLayout from "@/layouts/Default.astro";
import ModeToggle from "@/components/ModeToggle.vue";
---

<DefaultLayout title="Tauri Astro Templte">
  <div class="flex flex-col justify-center items-center h-screen">
    <h1 class="text-5xl">Tauri Astro Template</h1>
    <br />
    <Button><a class="block" href="./about">About</a></Button>
    <br />
    <ModeToggle client:load />
  </div>
</DefaultLayout>
